# Google OAuth Configuration
OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=

# JWT Configuration
JWT_SECRET=

# MongoDB Configuration (for dev environment)
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=
MONGODB_USERNAME=
MONGODB_PASSWORD=

ELASTICSEARCH_URIS=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

# Google mail
MAIL_USERNAME=
MAIL_PASSWORD=

SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=